<h1>Edit User Profile</h1>
<div class="new-profile">
<%= form_for [@user,@profile] do |f| %>
<%= f.label :bio %><br>
<%= f.text_area :bio, class:"form-control" %>
<br>
<%= f.label :industry %><br>
<%= f.text_area :industry, class:"form-control", value: @profile.industry %>
<br>
<%= f.label :experience_in_industry %><br>
<%= f.number_field :experience_in_industry, :step => 0.5, class:"form-control", value: @profile.experience_in_industry %>
<br>
<%= f.label :github %><br>
<%= f.text_area :github, class:"form-control", placeholder: @profile.github || "Github" %>
<br>
<%= f.label :linkedin %><br>
<%= f.text_area :linkedin, class:"form-control",placeholder: @profile.github || "Linkedin Linke"  %>
<br>
<%= f.label :seeking_alpha %><br>
<%= f.text_area :seeking_alpha, class:"form-control",placeholder: @profile.github || "Seeking Alpha Site"  %>
<br>
<%= f.label :website %><br>
<%= f.text_area :website, class:"form-control",placeholder: @profile.github || "Website"  %>
<br>
<%= f.submit "Submit", class: 'btn btn-primary'  %>
<% end %>
</div>
